@model LoginViewModel

@{
    ViewBag.Title = "user Login";
}

    <div class="page_bg" id="login_page">
        <br />
        <h2>User Login</h2>

        <div class="row">
            <form method="post" class="contact-form">
                <div class="row">
                    <div class="col span-1-of-3">
                        <label asp-for="Email">Email</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="Email" name="Email" id="Email" placeholder="Your email" />
                        <div class="col span-2-of-3">
                            <span asp-validation-for="Email" class="validationError"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label asp-for="Password">Password</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="Password" type="password" name="Password" id="Password" placeholder="Your password" />
                        <div class="col span-2-of-3">
                            <span asp-validation-for="Password" class="validationError"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label>&nbsp;</label> <!--invisible space special char-->
                    </div>

                    <div>
                        <div>
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>

                    <div class="col span-2-of-3">
                        <input type="submit" value="Log-in" class="forms_button" />
                    </div>
                </div>
            </form>
        </div>
    </div>
