<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <!--plugins for FullCalendar-->
    <link href="~/Schedule_files/core/main.css" rel="stylesheet" />
    <link href="~/Schedule_files/daygrid/main.css" rel="stylesheet" />


    <script src="~/Schedule_files/core/main.js"></script>
    <script src="~/Schedule_files/interaction/main.js"></script>
    <script src="~/Schedule_files/daygrid/main.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'core', 'interaction'],
                selectable:true
            });

            calendar.render();
        });

    </script>
</head>
<body>

    <div id='calendar' style="width:600px;height:auto"></div>

</body>
</html>